<h1>
  <%= recipe.name %>
</h1>

<h2> Introdcution </h2>
<br></br>
<p>
  <%= recipe.intro %>
</p>
<h2> Ingredients: </h2>
<br></br>
<p>
  <%= recipe.ingredients %>
</p>
<h2> Method: </h2>
<br></br>
<p>
  <%= recipe.method %>
</p>

<br></br>
<p>Back To <a href='/dashboard'>Dashboard</a></p>